/*@author Matej Rajtár <matej.rajtar@gmail.com>*/

#finish {
	margin:0; padding: 5px;
}

#left {
	float:left;
	width:50%;
	max-width: 300px;
	margin:0; padding:0;
}

#minus-next {

	background-color: red;
	margin:0; padding: 5px;
}

#right {
	float:right;
	width:50%;
	max-width: 300px;
	margin:0; padding:0;
}

#plus-next {

	background-color: green;
	margin:0; padding: 5px;
}

#middle {
	padding: 0 20% 0 20%;
}
.column-in {
	margin:0;
	padding:1em 1em;
}

#counter {
	float: right;
	font-size: 120%;
}

#np {
	width: 100%;
	text-align: center;
	font-size: 250%;
	font-weight: bold;
}

#ontology {
	width: 100%;
	text-align: center;
	padding-top: 1em;
	font-size: 150%;
}

#wrap {
	text-align: center;
}

#btnPrevious {
	vertical-align: bottom;
	font-size: 120%;
}

#btnChangeContext {
	font-size: 120%;
	vertical-align: bottom;
}

form .file-label {
	text-align: left;
	margin-bottom: 8px;
	font-weight: bold;
}

.subpack-progress {
	border-radius: 0px;
	margin-bottom: 0px;
	height: auto;
}
.subpack-progress > div {
	font-size: 10px;
	line-height: normal;
}

.assign-checkbox {
	text-align: left;
}
[data-toggle=buttons]>.btn input[type=checkbox] {
	position: relative;
	clip: auto;
}